<a href="https://colab.research.google.com/github/srxmth/Projeto-Analise_de_dados/blob/main/Ultima.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

In [2]:
mth = pd.read_csv('/content/drive/MyDrive/Power bi/df_exemplo_m2w1.csv' ,delim_whitespace=True)
mth_filter = mth

In [3]:
mth_filter

,Sta_ID,Depth_ID,Depthm,T_degC,O2Sat,Salnty
44.0,48.5,19-4904CR-HY-087-0606-04400485-0000B-3,0,10.30,92.8,33.030
44.0,48.5,19-4904CR-HY-087-0606-04400485-0006A-3,6,18.46,111.8,32.920
44.0,48.5,19-4904CR-HY-087-0606-04400485-0010A-7,10,10.29,95.0,32.951
44.0,48.5,19-4904CR-HY-087-0606-04400485-0015A-3,15,10.29,95.3,32.990
44.0,48.5,19-4904CR-HY-087-0606-04400485-0020A-7,20,10.33,95.1,33.005
...,...,...,...,...,...,...
36.7,115.0,19-4911BD-HY-318-2130-03671150-0921A-3,921,3.91,4.8,34.370
36.7,115.0,19-4911BD-HY-318-2130-03671150-1000A-7,1000,3.73,5.4,34.401
36.7,115.0,19-4911BD-HY-318-2130-03671150-1100A-7,1100,3.51,6.4,34.440
36.7,115.0,19-4911BD-HY-318-2130-03671150-1200A-7,1200,3.29,7.3,34.481
36.7,115.0,19-4911BD-HY-318-2130-03671150-1247A-3,1247,3.18,7.6,34.500

In [4]:
mth_filter['Salnty']

44.0    33.030
44.0    32.920
44.0    32.951
44.0    32.990
44.0    33.005
         ...
36.7    34.370
36.7    34.401
36.7    34.440
36.7    34.481
36.7    34.500
Name: Salnty, Length: 774, dtype: float64

In [5]:
mth_filter['Salnty'].mean()

33.601653746770026

In [6]:
mth_filter["Salnty"].mode()

0    32.74
dtype: float64

In [7]:
mth_filter["Salnty"].median()

33.8485

In [8]:
mth_filter["Salnty"].describe()

count    774.000000
mean      33.601654
std        0.656640
min       32.160000
25%       32.900000
50%       33.848500
75%       34.187000
max       34.520000
Name: Salnty, dtype: float64